.logo-name {
    font-size: 20px;
    margin-left: 50px;
  }
  
  .custom-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
  
    .popup-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  
    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      max-width: 350px;
      max-height: 90%; 
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 8px;
      padding: 1rem;
      z-index: 1060;
      display: flex;
      flex-direction: column;
    }
  
    .popup-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    .popup-body-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
    }
  
    .popup-body {
      overflow-y: auto;
    }
  }
  .mobile-buttons {
    gap: 0.25rem;          // small space between buttons
    flex-wrap: nowrap;      // prevent wrapping
    white-space: nowrap;    // text doesn’t wrap inside button
  }
  @media (max-width: 576px) {
    .mobile-buttons button {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
    }
  }
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* higher than content */
  }
  
  